   <ul class="mypage">
        <li>
           <img src="/img/id.jpeg" alt="..." class="img-circle">
           <p><%= @user.userid %>   님</p>
        </li>
        <li>
           <img src="/img/name.jpeg" alt="..." class="img-circle">
           <p><%= @user.name %></p>
        </li>
        <li>
           <img src="/img/email.jpeg" alt="..." class="img-circle">
           <p><%= @user.email %></p>
        </li>
       <li>
           <img src="/img/phone.jpeg" alt="..." class="img-circle">
           <p><%= @user.number %></p>
        </li>
   </ul>
    
    
   <p class="banging_p"><img src="/images/nya.png"/>참여중인 방<img src="/images/nya.png"/></p>
   
    <ul class= "mylist">
        <% @user.bangs.reverse_each do |u| %>
            <li>
                <span><%= link_to u.title, bang_path(u.id) %></span>
                <span><%= u.bang_date %></span>
                <span><%= u.bang_time %></span>
                <span><%= User.find(u.king_id).userid %>님</span>
            </li>
        <%end%>
    </ul>